form.form-horizontal(name='passwordChange', id='passwordChange', action='/password/#{pageInfo.other.type}' , method='post', role='form')
  include ../components/csrf
  
  if pageInfo.other.type === 'change'
    .form-group
      label.control-label.col-xs-2(for='oldPassword') Current password
      .col-xs-4
        input.form-control(type='password', id='oldPassword', name='oldPassword', placeholder='Current password', required)

  .form-group
    label.control-label.col-xs-2(for='newPassword') New password
    .col-xs-4
      input.form-control(type='password', id='newPassword', name='newPassword', placeholder='New password', required)

  .form-group
    label.control-label.col-xs-2(for='newPasswordConf') Confirm Password
    .col-xs-4
      input.form-control(type='password', id='newPasswordConf', name='newPasswordConf', placeholder='Enter new password again', required)

  .form-group
    .col-xs-offset-2.col-xs-4
      button.btn.btn-primary(type='submit') Change password
