// load stylesheets
link(rel='stylesheet', href='/css/bootstrap-3.1.1.min.css')
link(rel='stylesheet', href='/css/font-awesome.min.css')
link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', href='/css/project.css')