extends handy_layout

block content
  .container-fluid.fill-screen-height
    .row
      .col-md-offset-2.col-md-10
        h1 Something went wrong &nbsp
          small
            | Error status code 500
      
        p There has been an internal error.  Please try again.
        p If this message persists, please <a href='/contact'>inform</a> the site administrator.