extends handy_layout

block content
  .container-fluid
    .row
      .col-md-offset-1.col-md-10.page-header
        h1 Site configuration
          br
          small
            | Site configuration links
    .row.spacer
      .col-md-offset-1.col-md-10.page-header
        .col-md-7
          p.lead Modify basic site configurations e.g. site information, email server settings, default paths, backup, cron, account creation settings, sitemap submission settings, etc

        .col-md-offset-1.col-md-4.spacer
          a.btn.btn-lg.btn-success(type="button", href="/configuration/general")
            i.fa.fa-wrench
            | &nbsp;&nbsp;&nbsp;
            | General settings

    .row.spacer
      .col-md-offset-1.col-md-10.page-header
        .col-md-7
          p.lead Modify user role permissions to access system resources and content

        .col-md-offset-1.col-md-4.spacer
          a.btn.btn-lg.btn-success(type="button", href="/configuration/permissions")
            i.fa.fa-unlock
            | &nbsp;&nbsp;&nbsp;
            | Access control settings

    .row.spacer
      .col-md-offset-1.col-md-10.page-header
        .col-md-7
          p.lead Modify site theme and layout

        .col-md-offset-1.col-md-4.spacer
          a.btn.btn-lg.btn-success(type="button", href="/configuration/theme")
            i.fa.fa-picture-o
            | &nbsp;&nbsp;&nbsp;
            | Theme settings