extends handy_layout

block content
  .container-fluid
    .row
      .col-md-offset-1.col-md-10
        .page-header
          .pull-right
            a(href='/configuration') &larr;&nbsp;back to configuration settings
          h1 Configuration Options
            br
            small
              | Please update site configuration
    .row
      .col-md-offset-1.col-md-10
        ul.nav.nav-tabs
          li.active
            a(href='\#general', data-toggle='tab') General Settings
          li
            a(href='\#account', data-toggle='tab') Account Settings
          li
            a(href='\#manageuser', data-toggle='tab') Manage Users
          li
            a(href='\#seo', data-toggle='tab') Search Engine Optimization

        .tab-content
          #general.tab-pane.active
            .row
              .col-md-12
                include includes/forms/configGeneral
          
          #account.tab-pane
            .row
              .col-md-12
                include includes/forms/configAccount
          
          #manageuser.tab-pane
            .row
              .col-md-12
                .page-header
                  h4 Manage roles
              
                .well
                  .row
                    .col-md-5
                      include includes/forms/roleCreate
                    .col-md-offset-1.col-md-5 
                      include includes/forms/roleDelete 
            
            .row
              .col-md-12
                .page-header
                  h4 Reset access control system
                  .well
                    include includes/forms/aclReset

            .row
              .col-md-12         
                .page-header
                  h4 Register new user
                    small &nbsp; Random password is generated, if password is ommitted
                  .well
                    include includes/forms/userRegister
            
            .row
              .col-md-12  
                .page-header
                  h4 Approve pending user registrations
                    small &nbsp; Users will be notified automatically once their registration is approved
                  .well
                    include includes/forms/userRegisterApproval
          
          #seo.tab-pane
            .row
              .col-md-12
                .page-header
                  h4 Sitemap settings
              
                  .well
                    .row
                      include includes/forms/sitemapSettings
