doctype html
html
  head
    != pageInfo.theme.head

  body
    block header
      != pageInfo.theme.section_header

    block messages
      != pageInfo.theme.section_messages
    
    block content

    block footer
      != pageInfo.theme.section_footer

    block bottomscripts
      != pageInfo.theme.section_bottomscripts

    block extras
      != pageInfo.theme.section_extras