extends layout

block header

block content
  .container-fluid
    .well
      h1 Welcome to your new Handy site
      p.lead Please provide the information needed to get started
    .row
      .col-xs-12
        include includes/forms/siteInstall

block footer
