doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title!= pageInfo.title
    if pageInfo.description
      meta(name='description', content!=pageInfo.description)
    if pageInfo.canonical
      link(rel='canonical', href=pageInfo.canonical)
    include includes/scripts/scriptandstyle-top
    
  body
    block header
      include includes/blocks/header

    block messages
      include includes/blocks/systemmessage
                
    block content
    
    block footer
      include includes/blocks/footer.html
      
    block bottomscripts
      include includes/scripts/scriptandstyle-bottom
