extends handy_layout

block content
  .container-fluid.fill-screen-height
    .row
      .col-sm-offset-1.col-sm-10
        h1 Please register your account
        .spacer
        .spacer
        include includes/forms/organizationRegister