extends layout

block content
  .container-fluid.spacer.fill-screen-height
    h4 Please select a new password
    
    .well
      .row
        .span12
          include includes/forms/passwordChange