extends layout

block content
  .container-fluid
    .page-header
      .well
        h1 Role permissions
           br
           small
             | Please update the permissions for each role
    .row
      .col-md-12
        include includes/forms/permissionsUpdate