extends layout

block content
  .container-fluid.fill-screen-height
    .page-header
      .well
        h1 Test Page
          br
          small
            | Various tests get run here.  
    .row
      .col-xs-12
        include includes/forms/aclReset

