- if (!pageInfo.config.siteName)
    siteName = 'Brand new handy.js site'

nav.navbar.navbar-default.navbar-static-top(role='navigation')
  // Brand and Toggle are grouped for better mobile display
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
        span.sr-only Toggle navigation only
        span.icon-bar
        span.icon-bar
        span.icon-bar
        
      a.navbar-brand(href='/') #{pageInfo.config.siteName}

    // other links in navbar
    .collapse.navbar-collapse#navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/demo') Demo
        li
          a(href='/download') Download
        li
          a(href='/documentation') Documentation

